<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../app/code/Magento/Store/etc/config.xsd">
    <default>
        <cdokus>
            <general>
                <allow_guest>1</allow_guest>
                <allowed_file_extension>pdf,txt,doc,docx</allowed_file_extension>
                <allow_file_dispersion>1</allow_file_dispersion>
                <allow_file_rename>1</allow_file_rename>
            </general>
        </cdokus>
    </default>
</config>